@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-UltraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-UltraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Heavy.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-HeavyItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Black.otf') format('opentype');
  font-weight: 950;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-BlackItalic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
}
