// Imports: split into partials to keep SCSS organized
@use 'fonts';
@use 'reset';
@use 'base';
@use 'layout';

// Additional global styles can be added here if necessary
a.cta {
    background: white;
    color: #1E1E1E;
    padding: 20px 48px;
    font-family: 'Aileron', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5%;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
a.cta span {
    display: block;
    font-size: 12px;
    color: #7D7D7D;
    font-weight: 400;
}
a.cta:hover {
    background-color: #E4E2DD;
}