section#hero {
	background-color: #F7F6F3;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.icon {
		width: 80px;
		height: 80px;
		margin-bottom: 32px;
	}
	.subtitle {
		font-family: 'Lato', sans-serif;
		font-size: 13px;
		text-transform: uppercase;
		color: #0A7153;
		font-weight: 600;
		letter-spacing: 20%;
		margin-bottom: 16px;
	}
	.title {
		width: 100%;
		max-width: 680px;
		margin-bottom: 16px;
		font-family: 'Playfair Display', serif;
		font-weight: 500;
		font-style: italic;
		font-size: 48px;
		line-height: 1;
		color: #013929;
	}
	.description {
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		max-width: 480px;
		margin-bottom: 40px;
		line-height: 1.5;
		color: #1E1E1E;
	}
	.book {
		width: 100%;
		max-width: 280px;
		margin-bottom: 16px;
	}
	a.cta {
		margin-bottom: 24px;
	}
}

@media screen and (min-width: 768px) {
	section#hero {
		.title {
			font-size: 96px;
		}
		.subtitle {
			font-size: 16px;
		}
		.description {
			font-size: 17px;
		}
	}
}

section#author {
  	background-color: #E4E2DD;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.col-1 {

		.title {
			font-family: 'Playfair Display', serif;
			font-size: 32px;
			margin-bottom: 16px;
			line-height: 1;
			font-weight: 500;
			font-style: italic;
			color: #013929;
		}
		.description {
			margin-bottom: 24px;
		}
		.description p {
			font-family: 'Lato', sans-serif;
			font-size: 15px;
			margin-bottom: 0.625rem;
			font-weight: 400;
			color: #1E1E1E;
			line-height: 1.5;
		}
		.social-media {
			display: flex;
			font-size: 24px;
			gap: 16px;
			margin-bottom: 40px;

			.social-link {
				color: #C9A85A;
				transition: all 0.3s ease-in-out;
			}
			.social-link:hover {
				color: #694c02;
			}
		}
	}
	.col-2 {
		img {
			width: 100%;
		}
	}
}
@media screen and (min-width: 768px) {
	section#author {
		.container {
			flex-direction: row;
			gap: 16px;
		}
		.col-1, .col-2 {
			flex: 1;
		}
		.col-1 {
			.title {
				font-size: 56px;
			}
			.description p {
				font-size: 16px;
			}
		}
	}
}

section#register {
  	background-color: #013929;

	
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.col-1 {

		.title {
			font-family: 'Playfair Display', serif;
			font-size: 32px;
			margin-bottom: 0.625rem;
			line-height: 1;
			font-weight: 500;
			font-style: italic;
			color: #E4E2DD;
		}
		.description {
			font-family: 'Lato', sans-serif;
			font-size: 15px;
			margin-bottom: 8px;
			font-weight: 600;
			color: #E4E2DD;
			line-height: 1.5;
		}
		.description-box {
			font-family: 'Lato', sans-serif;
			font-size: 15px;
			margin-bottom: 24px;
			font-weight: 600;
			color: #E4E2DD;
			line-height: 1.5;
			padding: 16px;
			border: 1px solid #E4E2DD;
		}
		a.cta {
			margin-bottom: 24px;
			width: 100%;
  			text-align: center;
		}
	}
	.col-2 {
		width: 100%;
		iframe {
			width: 100%;
			aspect-ratio: 3/2;
		}

		img {
			width: 100%;
		}
	}
}
@media screen and (min-width: 768px) {
	section#register {
		.container {
			flex-direction: row;
			gap: 16px;
		}
		.col-1, .col-2 {
			width: 50%;
		}
		.col-1 {
			.title {
				font-size: 56px;
			}
			.description,
			.description-box {
				font-size: 16px;
			}
		}
	}
}
footer {
	background: #042b20;
	color: #E4E2DD;
	text-align: center;
	padding: 10px 0;

	p {
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		color: #E4E2DD;
	}
}